@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: thin;
}

html::-webkit-scrollbar {
  width: 1vw;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(94, 94, 94);
}

html::-webkit-scrollbar-track {
  background-color: gray;
}

body {
    overflow-x: hidden;
}

.calculated-min-h-screen {
  min-height: calc(100vh - 88px);
}

.calculated-h-screen {
  height: calc(100vh - 88px);
}

@media only screen and (max-width: 768px) {
  .calculated-min-h-screen {
    min-height: calc(80vh - 88px);
  }
  
  .calculated-h-screen {
    height: calc(80vh - 88px);
  }
}